<div class="controls">
  <nz-button-group>
    <button nz-button nzType="primary" nzTooltipTitle="Play" nz-tooltip [disabled]="gameService.autoRun" (click)="gameService.play()"><i nz-icon nzType="caret-right"></i></button>
    <button nz-button nzType="primary" nzTooltipTitle="Pause" nz-tooltip [disabled]="!gameService.autoRun" (click)="gameService.pause()"><i nz-icon nzType="pause"></i></button>
    <button nz-button nzType="primary" nzTooltipTitle ="Previous Generation" nz-tooltip [disabled]="gameService.historyIndex == 0" (click)="gameService.previousGeneration()"><i nz-icon nzType="step-backward"></i></button>
    <button nz-button nzType="primary" nzTooltipTitle="Next Generation" nz-tooltip (click)="gameService.nextGeneration()"><i nz-icon nzType="step-forward"></i></button>
  </nz-button-group>
  <button nz-button nzType="primary" nzTooltipTitle="New Grid" nz-tooltip (click)="gameService.newGrid()"><i nz-icon nzType="file"></i></button>
  <button nz-button nzType="primary" nzTooltipTitle="Random" nz-tooltip (click)="gameService.random()"><i nz-icon nzType="interaction"></i></button>
  <div>Generation: {{ gameService.historyIndex + 1 }}</div>
  <div>Cells Alive: {{ gameService.grid.cellsAlive }}</div>
  <div>Cells Count: {{ gameService.grid.size }}</div>
</div>
