:host {
  display: flex;
  flex: 1;
  border: 1px solid black;
  transition: all .2s ease-in-out;
}

:host:hover {
  background-color: skyblue;
  transform: scale(1.2);
}

:host.alive {
  background-color: green;
}